<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
  <main role="main">

    <section class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-8">

            <h1>Hi, <%= name %></h1>
            <form action="/create" method="POST">
              <div class="form-group">
                <label for="formGroupExampleInput">Title</label>
                <input type="text" class="form-control" name="title" id="formGroupExampleInput"
                  placeholder="Your post title here.">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Post</label>
                <textarea rows="5" type="text" class="form-control" id="formGroupExampleInput2" name="body"
                  placeholder="You post content here ..."></textarea>

              </div>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          <% for(var i = 0;  i < posts.length; i++){ %>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <% var post = posts[i] %>
              <img src="<%= post.cover %>" class="card-img" />
              <div class="card-body">
                <h3><%= post.title %></h3>
                <p class="card-text"><%= post.body %></p>
                <a href="/posts/<%= post.id %>">
                  Read more
                </a>
              </div>
            </div>
          </div>

          <% } %>




        </div>
      </div>
    </div>

  </main>
</body>

</html>